<section class="hero  is-blue is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">

        <div class="column is-4 is-offset-4">

          <div class="box">
            <h1 class="title">
              Choose a topic
            </h1>
            <label class="label">Topic</label>
            <p class="control">
              <input (keyup.enter)="join()" [(ngModel)]="query" class="input" type="text">
            </p>

            <hr>
            <p class="control is-clearfix">
              <button (click)="join()" class="button is-success is-pulled-right">LIVE</button>
            </p>
          </div>
          <p class="ftr">
          </p>

        </div>
      </div>
    </div>
  </div>

</section>
